{% extends "baseTemplate.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role_id == 1 %}
            <div class="mt-3 d-flex justify-content-center">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-dark">
                        {{ user.id }}
                    </li>
                    <li class="list-group-item">
                        {{ user.username }}
                    </li>
                    <li>
                        <div class="form form-horizontal m-3" method="post" role="form">
                            <form method="post">
                                {{ form.hidden_tag() }}
                                {{ form.role() }}
                                {{ form.submit() }}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}